.home-page {

    .hero {
        background-color: var(--clrPrimary1);

        .section-container {
            display: grid;
            text-align: center;
            padding-block: 30px;
        }

        .loader {
            width: 100%;
            display: grid;
            justify-items: center;

            img {
                max-width: 300px;
            }
        }
    }

    .call-to-action {
        background-color: var(--clrPrimary2);
        color: var(--clrSecondary-1);
        padding-block: 84px;

        @include for-wide-layout {
            padding-block: 76px;

        }

        .section-container {
            display: grid;
            align-items: center;
            justify-items: center;
            gap: 24px;
            text-align: center;

            @include for-normal-layout {
                grid-auto-flow: column;
                justify-items: normal;
                gap: unset;
                text-align: unset;
            }
        }

        .legend {

            border-radius: $border-radius;
            background-color: var(--clrPrimary1);
            display: grid;
            grid-auto-flow: column;
            place-content: center;
            padding: 10px;
            gap: 10px;

            &>* {
                display: grid;
                justify-items: center;
                color: var(--clrPrimary3);

            }

            span {
                width: 25px;
                height: 25px;
                background-color: var(--clrSecondary1);
                border-radius: calc($border-radius / 4);
                border: 1px solid rgba(0, 0, 0, 0.368);
                display: block;

            }

            .reserved span {
                filter: brightness(70%);
            }

            .selected span {
                background-color: var(--clrPrimary2);
            }
        }
    }

}