.seat-preview {
    width: 25px;
    height: 25px;
    background-color: var(--clrSecondary1);
    border-radius: calc($border-radius / 4);
    border: 1px solid rgba(0, 0, 0, 0.368);
    cursor: pointer;

    &.reserved {
        filter: brightness(70%);
    }

    &.selected {
        background-color: var(--clrPrimary2);
    }

    span {
        opacity: 0;
        transition: opacity 1s;
    }

    span:hover {
        opacity: 1;
    }

}