@font-face {
    font-family: Livvic-Bold;
    // src: url(/fonts/livvic/Livvic-Bold.ttf) format('truetype');
    src: url(/fonts/Livvic-Bold.ttf);
}

@font-face {
    font-family: Livvic-SemiBold;
    // src: url(/fonts/livvic/Livvic-SemiBold.ttf) format('truetype');
    src: url(/fonts/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: Rothek;
    // src: url(/fonts/livvic/rothek-4.ttf) format('truetype');
    src: url(/fonts/rothek-4.ttf);
}